{% extends "@EdgarEzUIProfile/profile/view.html.twig" %}

{% block body_class %}ez-info-view{% endblock %}

{% block subtitle %}
    {% set subtitle = 'Manage your notifications'|trans %}
    {{ parent() }}
{% endblock %}

{% block profilecontent %}
    <button id="subscriptionButton"
        data-vapidpublickey="{{ vapid_public_key }}"
        data-register="{{ path('edgar.ezwebpush.register') }}"
        data-unregister="{{ path('edgar.ezwebpush.unregister') }}"
    >
        Subscribe!
    </button>
{% endblock %}

