{% extends "@EdgarEzUIProfile/profile/view.html.twig" %}

{% block body_class %}ez-info-view{% endblock %}

{% block subtitle %}
    {% set subtitle = 'Manage your notifications'|trans %}
    {{ parent() }}
{% endblock %}

{% block profilecontent %}
    <button id="subscriptionButton">Subscribe!</button>
{% endblock %}

